/* Style for header*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 1em;
  font-size: 1.25em;
  background-color: HSLA(180, 13%, 6%, .9);
}

header a {
  transition: all 0.2s;
  color: #FFF;
  text-decoration: none;
}

header a:hover {
  border-bottom: 1px solid;
  color: #566b78;
}

nav {
  float: right;
}

nav ul {
  padding: 0;
  margin: 0;
  margin-right: 2em;
  list-style: none;
}

nav ul li {
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
  letter-spacing: .05em;
  margin-right: .5em;
}

nav ul .container {
  position: relative;
}